* {
	padding: 0;
	margin: 0;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	/* padding: 2em; */
	/* padding-top: 2em; */
}

.btn-primary {
	border: none;
	background-color: #007bff;
	color: whitesmoke;
	padding: 0.6em 1.4em;
	border-radius: 5px;
	cursor: pointer;
}

.modal {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.443);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-content {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	gap: 0.8em;
	width: 30%;
	border-radius: 5px;
}
form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.6em;
}
label {
	font-weight: 600;
}
input {
	width: 90%;
	padding: 0.4em;
	border: 0.2px solid grey;
	border-radius: 5px;
	outline: none;
}
